body {
  background: #000; }

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ace_editor {
  font-family: "Source Code Pro", 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace !important; }
