// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Global Styles
body {
  @include font-size(14);
  background: map-get($colors, background);
  color: map-get($colors, color);
  font-family: $monospace;
  line-height: golden-ratio(1, 1);
}
.container {
  @include font-size(14);
}


// Links
a {
  text-decoration: none;

  &:link {
    color: map-get($colors, link);
  }

  &:visited {
    color: lighten(map-get($colors, link), 10%);
  }

  &:focus,
  &:hover {
    color: darken(map-get($colors, link), 10%);
    border-bottom: 1px solid darken(map-get($colors, link), 10%);
  }

  &:active {
    color: map-get($colors, link);
    border-bottom: 1px solid map-get($colors, link);
  }
}


// Remove text-shadow, customize the background
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
