// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Global Styles
body {
  @include font-size(14);
  background: map-get($colors, background);
  color: map-get($colors, color);
  font-family: $monospace;
  line-height: golden-ratio(1, 1);
}
.container {
  @include font-size(14);
}


// Links
a {
  text-decoration: none;

  &:link,
  &:visited {
    color: map-get($colors, link);
  }

  &:focus,
  &:hover,
  &:active {
    color: darken(map-get($colors, link), 10%);
  }
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-size(14);
  font-weight: normal;
}


// Remove text-shadow, customize the background
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
