// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Global Styles
html {
  height: 100%;
}
body {
  @include font-size(14);
  background: blue;
  background: url(../img/bg-1.jpg) no-repeat center center;
  background-size: cover;
  color: #222;
  height: 100%;
  font-family: $monospace;
  line-height: golden-ratio(1, 1);
}
.container {
  @include font-size(14);
}


// Links
a {
  text-decoration: none;

  &:link,
  &:visited {
    color: map-get($colors, link);
  }

  &:focus,
  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    color: darken(map-get($colors, link), 10%);
    outline: none;
  }
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-size(14);
  font-weight: normal;
}


// Non-JS Site warning
.js-warning {
  display: block;
  padding: 1em;

  .js & {
    display: none;
  }
}