$transparentWhite: rgba(255,255,255,0.25);


$red: #BF2A36;
$darkBlue: #324359;
$lightBlue: #566D8C;
$yellow: #F2EB8C;
$orange: #F2B47E;


*,
*:before,
*:after {
  @include box-sizing(border-box);
}


html {
  height: 100%;

  body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}




body {
  background: url(../img/cliffs.jpg) no-repeat center center;
  background-size: cover;
  color: #222;
  font-family: $monospace;
  line-height: golden-ratio(1, 1);
}


body,
.container {
  @include font-size(14);
}

.container {
  @include transition(left 1s $ease-out-expo);
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  width: 100%;

  &.loaded {
    left: 0;
  }
}


// Links
a {
  text-decoration: none;

  &:link,
  &:visited {
    color: map-get($colors, link);
  }

  &:focus,
  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    color: darken(map-get($colors, link), 10%);
    outline: none;
  }
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-size(14);
  font-weight: normal;
}


// Non-JS Site warning
.js-warning {
  display: block;
  padding: 1em;

  .js & {
    display: none;
  }
}
