// Toolbox
.Toolbox {
  @include clearfix;
  @include glass;
  display: none;
  height: auto;
  left: 0;
  position: absolute;
  top: 5em;
  right: 10%;

  html.js & {
    display: block;
  }

  // Toolbox Section
  &-section {
    @include clearfix;
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  h1 {
    display: inline-block;
    float: left;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0.8em 0.5em 0 0;
    text-transform: uppercase;
    vertical-align: middle;
  }

  ul {
    @include clearfix;
    @include font-size(18);
    display: inline-block;
    float: left;
    list-style: none;
    line-height: 1;
    margin: 0 0 0 0.4em;
    padding: 0;
    position: relative;
  }

  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;

    a {
      border-left: 1px solid rgba(255,255,255,0.5);
      display: block;
      margin: 0;
      padding: 0.5em 0.6em 0.4em;
      position: relative;

      &:after {
        border-left: 1px solid rgba(0,0,0,0.1);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
      }

      &.jot-mode {
        @include font-size(14);
      }

      &:hover {
        background: rgba(0,0,0,0.05);
        color: #fff;
      }
    }
  }
}
