// Jot Editor

// Fullcreen Layout
#editor {
  position: absolute;
  top: 3em;
  right: 0;
  bottom: 0;
  left: 0;
}


// override Ace font stack
.ace_editor {
  font-family: $monospace;
}


// export container
.export-container {
  display: none;

  // Formatted styles
  .formatted {
    @include font-size(16);
    font-family: $sans;
    font-weight: 300;
    line-height: goldern-ratio(1, 1);
    padding-left: 2em;
    text-rendering: optimizeLegibility;
    width: golden-ratio(100%, -1);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
      line-height: 1;
      margin: golden-ratio(1em, 1) 0 1em;
    }
    h1 {
      @include font-size(30);
      font-weight: 300;
    }
    h2 {
      @include font-size(22);
    }
    h3 {
      @include font-size(16);
      text-transform: uppercase;
    }
    h4,
    h5,
    h6 {
      @include font-size(16);
    }

    blockquote {
      border: none;
      border-left: 2px solid #ddd;
      font-style: italic;
      padding: 0 1em;
      margin: 1em 0 1em 1em;
    }

    hr {
      border: none;
      border-top: 2px solid #ddd;
      display: block;
      height: 0;
      margin: 2em 0;
      width: 100%;
    }

    pre {
      @include font-size(14);
      display: block;
      font-family: $monospace;
      line-height: 1.3;
      margin: 1em 0 1em 1em;
      padding: 0.5em 1em;
      border-left: 2px solid #000;
    }
  }
}