// Information Panel

.information-panel {
  @include transition (bottom 0.25s ease);
  background: map-get($colors, background);
  border-right: 2px solid map-get($colors, link);
  bottom: 100%; // hides panel to start
  left: 0;
  margin-right: 3em;
  overflow: auto;
  padding: 0 1em 0 3em;
  position: absolute;
  top: 0;
  z-index: 10;

  &.active {
    bottom: 0;
  }
}
