// Toolbox

.toolbox {
  border-top: 2px solid map-get($colors, black);
  display: none;
  height: 3em;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  .js & {
    display: block;
  }

  h1 {
    // @include font-size(16);
    float: left;
    padding: 0.9em 0 0.9em 1em;
    line-height: 1;
    margin: 0;

    &:after {
      content: " |";
    }
  }

  ul {
    @include reset-list;
    float: left;
    line-height: 1;

    li {
      display: block;
      float: left;
      padding: 0.9em 0 0.9em 0.8em;
    }
  }

  a {
    display: block;
    line-height: 1;
    text-transform: capitalize;
  }

  .information-button {
    position: absolute;
    top: 0;
    right: 0.8em;
  }
}
