// Toolbox

.toolbox {
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;

  ul {
    @include font-size(24);
    @include reset-list;
    width: 100%;

    li {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  a {
    display: block;
    line-height: 1;
    padding: 0.35em 0.25em 0.25em;

    &.active,
    &:hover,
    &:focus,
    &:active {
      background: map-get($colors, link);
      border: none;
      color: map-get($colors, background);
    }
  }

  // Hide helper text
  span {
    @include visuallyhidden;
  }
}
