
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------


body {
  font-size: @font-size;
  color: @text-color;
  background: url('atom://vidrio-ui/aleks-dahlberg-258314.jpg') center center no-repeat #000;
  background-size: cover;
  padding: 5rem;
}

atom-workspace {
    background: none;
}

atom-pane,
atom-panel {
    .glass();
}
