$red: #BF2A36;
$darkBlue: #324359;
$lightBlue: #566D8C;
$yellow: #F2EB8C;
$orange: #F2B47E;


*,
*:before,
*:after {
  @include box-sizing(border-box);
}


html {
  height: 100%;

  body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


.loadingScreen {
  @include transition(opacity 1s ease-in-out 1s);
  @include font-size(20);
  background: #000;
  color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  &-spinner {
    @include transition(opacity 1s ease-in-out);
    letter-spacing: 0.1em;
    position: absolute;
    top: 50%;
    width: 100%;

    i {
      position: relative;
      left: 0.1em;
    }
  }

  body.loaded & {
    opacity: 0;

    &-spinner {
      opacity: 0;
    }
  }
}




body {
  background: url(../img/clouds.jpg) no-repeat center center;
  background-size: cover;
  color: #222;
  font-family: $monospace;
  line-height: golden-ratio(1, 1);
}


body,
.container {
  @include font-size(14);
}


.container {
  @include transition(left 1s $ease-out-expo 2s);
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  width: 100%;

  body.loaded & {
    left: 0;
  }
}


// Links
a {
  text-decoration: none;

  &:link,
  &:visited {
    color: map-get($colors, link);
  }

  &:focus,
  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    color: darken(map-get($colors, link), 10%);
    outline: none;
  }
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-size(14);
  font-weight: normal;
}


// Non-JS Site warning
.js-warning {
  display: block;
  padding: 1em;

  .js & {
    display: none;
  }
}
