// Colors
$colors: (
  black: #141414,
  background: #232323,
  color: #E2E2E2,
  link: #555,
);


// Font stacks
// !important included to override Ace font stack
$monospace: "Source Code Pro", 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace !important;
$sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
